.header{
    background-image: url('/pictures/xhevdet.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(24, 24, 22, 0.881);
    background-blend-mode: multiply;
}