.activity_image_container {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.sup_images {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

// .activity_container{
//     border: 1px solid transparent;
// }